header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: #7F101E;
}

.logo {
    height: 90%;
}

h1 {
    color: #FFC830;
}

@media screen and (max-width: 650px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
    }
}