.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111418;
    box-shadow:  33px 33px 55px #080a0c, -33px -33px 55px #1a1e24;
    border-radius: 12px;
    width: 30%;

}

.movie-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 12px 16px;
    color: white;
    width: 300px;
}

.movie-title {
    text-align: center;
    color: white;
    margin-bottom: 12px;
}

.movie-date {
    font-size: 12px;
    margin-bottom: 12px;
}

.movie-img {
    width: 80%;
    margin-bottom: 8px;
}

.movie-description {
    text-align: justify;
    margin-bottom: 12px;
}

.movie-categories {
    margin-bottom: 12px;    
}

.movie-card-buttons {
    display: flex;
    padding-bottom: 18px;
}

.movie-card-buttons button:last-of-type {
    margin-left: 6px;
}

.edit-btn, .delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.edit-btn {
    border: 1px solid #FFC830;
    background-color: transparent;
    transition: ease-out .3s;
}

.edit-btn:hover {
    background-color: #FFC830;
}

.delete-btn {
    border: 1px solid #7F101E;
    background-color: transparent;
    transition: ease-out .3s;
}

.delete-btn:hover {
    background-color: #7F101E;
}