nav {
    padding: 18px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li:last-of-type {
    margin-left: 24px;
}

ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

ul li a:visited {
    color: white;
}
