nav {
    padding: 18px;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li:last-of-type {
    margin-left: 24px;
}

nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #7F101E;
    transition: ease-out .3s;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    border-bottom: 3px solid #FFC830;
}