@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #111418;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 24px 0;
}

main {
    max-width: 70%;
    margin: 24px auto;
    /* On soustrait la hauteur du header et du footer */
    min-height: calc(100vh - 120px - 36px);
}