.detail-movie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.detail-movie-container-info {
    margin-right: 24px;
}

.detail-movie-container-img {
    width: 40%;
}

.detail-movie-title {
    color: white;
    margin-bottom: 12px;
}

.detail-movie-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
}

.detail-movie-category {
    margin-bottom: 12px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #FFC830;
    color: #7F101E;
    font-weight: bold;
}

.detail-movie-category:not(:last-of-type) {
    margin-right: 12px;
}

.list-actors {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actor-details {
    margin: 0 0 12px;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.actor-character {
    font-size: 1.2rem;
    margin-bottom: 6px;
    text-align: center;
}

.actor-name {
    font-size: 1.1rem;
    margin-bottom: 12px;
    text-align: center;
}

.actor-photo {
    height: 120px;
}

.detail-movie-img {
    margin-bottom: 8px;
}

.detail-movie-description {
    text-align: justify;
    margin-bottom: 12px;
}

.detail-movie-container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-movie-card-buttons {
    display: flex;
}

.detail-movie-card-buttons button:last-of-type {
    margin-left: 6px;
}

.similar-movies-container > h2 {
    color: #FFC830;
    margin: 12px 0 36px;
}

.similar-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 1300px) {
    .detail-movie-container {
        flex-direction: column;
        align-items: center;
    }

    .detail-movie-container-info, .detail-movie-container-img {
        width: 100%;
    }
    
    .detail-movie-container-info {
        margin: 0;
    }
}

@media screen and (max-width: 950px) {
    .actor-details {
        width: 100%;
    }

    .movie-card {
        width: 45%;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 800px) {
    .detail-movie-container-img img{
        width: 65%;
    }
}

@media screen and (max-width: 650px) {
    .movie-card {
        width: 100%;
        margin-bottom: 12px;
    }
}
